.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App > section > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

h3:hover, h4:hover {
  cursor: pointer;
}
